@import "../bower_components/normalize.css/normalize.css";
@import "../bower_components/bxslider-4/jquery.bxslider.css";
@import "variables";
@import "mixins";

@font-face {
  font-family: 'ProximaNova';
  src: url('@{font_path}/bold/proximanova.woff') format('woff'), url('@{font_path}/bold/proximanova.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('@{font_path}/regular/proximanova.woff') format('woff'), url('@{font_path}/regular/proximanova.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('@{font_path}/light/proximanova.woff') format('woff'), url('@{font_path}/light/proximanova.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'ProximaNova Semi';
  src: url('@{font_path}/semi-bold-italic/proximanova-semibold-webfont.ttf') format('truetype');
}

.center {
  margin: 0 auto;
}

.container {
  color: @white;
  font-size: 62.5%;
  font-family: 'ProximaNova';
}

.about {
  background-color: @dark_blue;
  padding-top: 40px;
  text-align: center;

  &__title {
    text-transform: uppercase;
    font-size: 5em;
    margin: 0;
  }

  &__subtitle {
    font-size: 2.5em;
    max-width: 635px;

    &-wrapper {
      margin: 5px 0 35px;
    }
  }

  &__describe {
    font-size: 1.8em;
    font-weight: 300;
    max-width: 765px;
  }

  &__polygon {
    position: relative;
    height: 180px;
    z-index: 100;
    overflow: hidden;
    margin-top: 35px;

    &_center {
      position: absolute;
      left: 50%;
      top: 38px;
      margin-left: -150px;
      z-index: 1000;
      width: 0;
      height: 0;
      border-left: 150px solid transparent;
      border-right: 150px solid transparent;
      border-bottom: 100px solid @blue;
    }

    &:before {
      content: "";
      background-color: @dark_blue;
      position: absolute;
      top: 30px;
      left: -5px;
      width: 20%;
      height: 90px;
      .transform(rotate(-3deg));
    }

    &:after {
      content: "";
      background-color: @dark_blue;
      position: absolute;
      top: 5px;
      right: 0;
      width: 100%;
      height: 125px;
      .transform(rotate(2deg));
    }
  }
}

.quotes {
  font-family: 'ProximaNova Semi';
  background-color: @blue;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  margin-top: -140px;

  &__header-bg {
    background-color: @dark_blue;
    height: 85px;
    margin-top: 0;
  }

  .bx-wrapper {
    .bx-viewport {
      border: none;
      background: none;
      .box-shadow(none);
      left: 0;
      z-index: 1000;
    }

    .bx-pager, .bx-controls-auto {
      bottom: -10px;
    }

    .bx-pager.bx-default-pager {
      a {
        background-color: @dark_blue;

        &.active {
          background-color: @white;
        }
      }
    }

    .bx-prev, .bx-next {
      width: 75px;
      height: 100px;
    }

    .bx-prev {
      left: 0;
      background: url('../images/arrow-left.svg') no-repeat;
    }

    .bx-next {
      right: 0;
      background: url('../images/arrow-right.svg') no-repeat;
    }
  }
}

.quote {
  &__image-container {
    width: 260px;
    height: 140px;
  }

  &__content {
    max-width: 825px;
    margin-top: 90px;
    padding: 0 50px;
  }

  &__symbol {
    &_left, &_right {
      width: 45px;
      height: 44px;
    }

    &_left {
      background: url('../images/quote-left.svg') no-repeat;
      float: left;
    }

    &_right {
      background: url('../images/quote-right.svg') no-repeat;
      float: right;
    }
  }

  &__text {
    padding: 0 45px 0 35px;
    clear: both;
    font-size: 2.4em;
    font-style: italic;
    position: relative;

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      width: 45px;
      height: 44px;
      top: -44px;
    }

    &:before {
      background: url('../images/quote-left.svg') no-repeat;
      left: 0;
    }

    &:after {
      background: url('../images/quote-right.svg') no-repeat;
      right: 0;
    }
  }

  &__plus-btn {
    background: url('../images/plus-btn.svg') no-repeat;
    width: 50px;
    height: 32px;
    margin-top: 35px;
  }

  &__author {
    font-size: 1.6em;
    margin: 35px 0;

    &:before, &:after {
      content: "–";
    }

    &__name {
      font-weight: bold;
    }

    &__position {
      font-family: 'ProximaNova';
    }
  }
}